<div>
  <h1>Stupid Coaching</h1>
    <label class="form-label">Ask your coach anything:</label>
    <form action="answer" data-turbo="false">
      <input type="text" name="question" placeholder="What do you want?" class= "form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </form>
</div>
<%# <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Type your message to the Coach" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2">@example.com</span>
</div> %>
